.sidebar {
    width: 70px;
    background-color: #0d28a6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo-bcr-sq {
    width: 34px;
    height: 34px;
    background-color: #cfd4ed;
}

.fi {
    color: white;
    width: 20px;
    height: 20px;
    display: block;
}

.sidebar-item {
    border-bottom: 1px;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    place-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

.sidebar-item h2 {
    font-size: 12px !important;
}

.sidebar-item:hover {
    background: rgba(255, 255, 255, 0.3);
}

.sidebar-item-active {
    background: rgba(255, 255, 255, 0.3);
}