.Add_button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10px;
}

.button_toolbarActive {
  color: #0d28a6;
  border-radius: 2px;
  background-color: #cfd4ed;
  border-color: #0d28a6;
  height: 36px;
}

.button_toolbar {
  color: #aeb7e1;
  border-radius: 2px;
  background-color: #fff;
  border-color: #aeb7e1;
}

.button_delete {
  color: #fa2c5a;
  background-color: white;
  border-color: #fa2c5a;
  border-radius: 0;
}

.button_edit {
  color: white;
  background-color: #5cb85f;
  border-radius: 0;
}
